@model HerzingProjectTemplate.Models.Nutrition

@{
    ViewData["Title"] = "Create";
}

<div class="nutrition_create_form">
    <div>
        <h1 class="form_title">Create Nutrition</h1>
        <div class="d-flex justify-content-end">
            <a asp-controller="UserProfile"
               asp-action="Details"
               asp-route-id="@Model.UserId" class="btn btn-success">
                Back to Profile Page
            </a>
        </div>
    </div>

    <br /> <br />

    <div class="form">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NutritionActivityDate" class="control-label"></label>
                <input asp-for="NutritionActivityDate" class="form-control" />
                @* <span asp-validation-for="NutritionActivityDate" class="text-danger"></span> *@
            </div>
            <input type="hidden" asp-for="UserId" />
            
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <select asp-for="Day" class="form-control">
                    <option value="">-- Select a Day --</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MealType" class="control-label"></label>
                <select asp-for="MealType" class="form-control">
                    <option value="">-- Select Meal --</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                </select>
                <span asp-validation-for="MealType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protein" class="control-label">Protein (g)</label>
                <input asp-for="Protein" class="form-control" />
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carbohydrates" class="control-label">Carbohydrates (g)</label>
                <input asp-for="Carbohydrates" class="form-control" />
                <span asp-validation-for="Carbohydrates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fats" class="control-label">Fats (g)</label>
                <input asp-for="Fats" class="form-control" />
                <span asp-validation-for="Fats" class="text-danger"></span>
            </div>
            
            <br />
            <div class="form-group">
                <input type="submit" value="Create Food Record" class="btn btn-primary" />
            </div>
        </form>
          
    </div>
    <br /> <br /><br /> <br />
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
