@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Herzing College Capstone Project - Fitness App</h1>
    
</div>

<br />
<br />
<hr />
<br />
<br />

<div class="text-center">
    <div class="txt1">
        <h2>Welcome to the Starting Line</h2>
        <p class="txt-content">
            You’ve already done the hardest part: showing up.
            Whether you’re here to crush a new personal record, find a rhythm that sticks, or finally figure out what a "macro" actually is,
            you’re in the right place. We’re not about perfection; we’re about progress.
            Take a look around, grab a plan, and let’s turn those "somedays" into Day One.
        </p>
    </div>

    <div class="txt2">
        <a asp-controller="Home" asp-action="UserProfile" class="btn btn-outline-primary">Sign-Up/Sign-In here!</a>
    </div>
</div>