@{
    ViewData["Title"] = "Home Page";
}

<div class="background-slider-container">
    <div class="my_title">
        <div id="herzing">Herzing</div>
        <div id="coll_cap_pro">
            <div id="college">College</div>
            <div id="capstone">Capstone</div>
            <div id="project">Project</div>
        </div>
        <div id="fitness" class="new-rocker-regular"> Fitness App</div>
    </div>
    <br />
    <hr style="color: rgba(55, 125, 176, 0.9")/>
    <br />
    <br />

    <div class="text-center">
        <div class="txt2">
            <p id="my-soul-regular">Welcome to the Starting Line</p>
            <p class="txt-content">
                You’ve already done the hardest part: showing up.<br />
                Whether you’re here to crush a new personal record, find a rhythm that sticks, or finally figure out what a "macro" actually is,
                you’re in the right place.
                <br />
                We’re not about perfection; we’re about progress.
                <br />
                Take a look around, grab a plan, and let’s turn those "somedays" into Day One.
            </p>
        </div>

        <br />

        <div class="txt2">
            <a asp-controller="Home" asp-action="UserProfile" class="btn btn-outline-primary">Sign-Up/Sign-In here!</a>
        </div>
    </div>
</div>