@{
    ViewData["Title"] = "Progress";
}
<h1>WELCOME TO YOUR PROGRESS PAGE</h1>

<div>
    <p>Here is where you find out how far you have gone with your health and fitness goal.</p>
    <p>Let's go! Click <a asp-controller="Home" asp-action="UserProfile">here!</a></p>
</div>



