@{
    ViewData["Title"] = "Chosen Page #1";
}
<h1>WELCOME TO YOUR PROGRESS PAGE</h1>

<div>
    <p>Here is where you find out how far you hace gone with your health and fitness goal.</p>
    <p>Let's go! Click <a asp-controller="UserProfile" asp-action="Details">here!</a></p>
</div>



