@{
    ViewData["Title"] = "Rank";
}
@* <h1>@ViewData["Title"]</h1> *@

<h1>WELCOME TO YOUR RANK PAGE</h1>

<div>
    <p>Here's how you rank based on how far you have gone with your goals</p>
    <p>Let's go! Click <a asp-controller="Home" asp-action="UserProfile">here!</a></p>
</div>




