@{
    ViewData["Title"] = "Workout";
}
<h1>@ViewData["Title"]</h1>

<p>This page is intended to provide basic information that could help you make decisions about the type of
    exercises that fit your needs and resources at the moment so you can get going with your choice. If you 
    want to have more detailed information about the exercises, click 
    <a href="https://www.strengthlog.com/exercise-directory/">here</a> to link you up to a site that
    has a list of hundreds of exercises and their details (reps, duration, benefits etc).
</p>

<p>
    If you have a user profile already and you want to create a workout plan or you want to sign up, click 
    <a asp-controller="Home" asp-action="UserProfile">here!</a> to proceed.
</p>




